* {
    margin: 0;
    padding: 0;
}
html,
body,
.wrap {
  position: relative;
  height: 100%;
  background-color: #F2F2F2;
}
a {
  color: #333;
  text-decoration: none;
}
ul, li {
  list-style: none;
}